* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#FFF4BC, #FED571, #FF8C4C, #B72C3C, #AC748F);
  color: #45385B;
}

h1, h2, h3, h4, label, input, button, p, div {
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none;
}


.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}


button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }
  .form-group .input-control {
    margin-top: 2px;
  }
  .form-group label.right-inline {
    text-align: left;  
    padding-right: 0;
    padding-left: 0;   
  }
}

.main-content {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -90px;
  flex-wrap: wrap;
  align-items: center;
}

#google-icon {
  height: 50px;
  width: 50px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}


.message p, h4, img {
  margin: 10px; 
}

.message img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.card-container {
  cursor: pointer;
  perspective: 600;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
}
.card {
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 200px;
  
  
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  align-items:  center;
  border-radius: 20%;
  height: 100%;
  width: 100%;
  background-color: #FFF4BC;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .back {
  background-color: #FFF4BC;
  text-align: center;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  align-items: center;
}
#main-heading-container {
  position: absolute; 
  margin-top: 40px;
}

#banner-header {
  height: 150px;
  width: 360px;
}
#user-header {
  display: flex;
  align-items: center;
  background-color: #ffffff; 
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;  
}

#user-header img {
  margin: 0 40px;
}

#chat-input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
}

#message-submit {
  height: 30px;
  width: 5%;
  background-color: #FF8C4C;
  border-radius: 5px;
}

#add-member-container {
  display: flex;
  justify-content: flex-end;
  margin: 25px;
}

#add-member-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#add-member-input {
  height: 30px;
  width: 230px;
}

#add-member-submit {
  height: 30px;
  width: 90px;
  background-color: #FF8C4C;
  border-radius: 5px;
}

#footer {
  position: fixed !important;
  width: 100vw !important;
}

#footer div {
  background-color: #AC748F !important;
  color: #FFF4BC !important;
}

.header-text {
  height: 150px;
  width: 250px;
  position: absolute;
  margin-top: 40px;
}

.header-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  margin-top: 75px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}

#upload-photo {
  border-radius: 10%;
  background-color: #FF8C4C;
}

#team-navbar {
  display: flex;
  justify-content: space-between;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

#title {
	padding: 70px 10px 0px;
}
.cloud {
  width: 180px;
	height: 150px;
	box-sizing: border-box;
	transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}

#one {
	position: absolute;
	top: 500px;
	left: 300px;
}

#sunImg {
	height: 10vh;
	width: 10vw;
	padding: 5px;
	position: absolute;
	left: 445px;
	bottom: 190px;
}

#mtns {
	width: 100vw;
	margin: -10px;
	position: fixed;
	bottom: 0px;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #footer {
    position:fixed;
    bottom:0px;
    width:100%;
    }
    #title {
    	padding: 10px;
    }
}