* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(#FFF4BC, #FED571, #FF8C4C, #B72C3C, #AC748F);
  color: #45385B;
  background-attachment: fixed;
}

h1, h2, h3, h4, label, input, button, p, div {
  font-family: 'Josefin Sans', sans-serif;
}
a {
  text-decoration: none;
}


.form-group label {
  flex: none;
  display: block;
  width: 125px;
  font-weight: bold;
  font-size: 1em;
}


button {
  padding: 5px 15px;
  margin: 5px;
  min-width: 100px
}

@media (max-width: 768px) {
  .form-group {
    flex-direction: column;
  }
  .form-group .input-control {
    margin-top: 2px;
  }
  .form-group label.right-inline {
    text-align: left;  
    padding-right: 0;
    padding-left: 0;   
  }
}

@media (max-width: 400px) {
	body {
  	height: 100%;
  }
  #footer {
  	position: fixed;
  	bottom: 50px;
  }
}

.main-content {
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -150px;
  margin-top: -90px;
  flex-wrap: wrap;
  align-items: center;
}

#google-icon {
  height: 50px;
  width: 50px;
}
.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.message {
  display: flex;
  align-items: center;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}


.message p, h4, img {
  margin: 10px; 
}

.message img {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}

.card-container {
  cursor: pointer;
  perspective: 600;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  flex-wrap: wrap;
}
.card {
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  width: 200px;
  
}
.card:hover {
  transform: rotateY(180deg);
}
.card .side {
  backface-visibility: hidden;
  align-items:  center;
  border-radius: 20%;
  height: 100%;
  width: 100%;
  background-color: #FFF4BC;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card .back {
  background-color: #FFF4BC;
  text-align: center;
  transform: rotateY(180deg);
  height: 100%;
  width: 100%;
  align-items: center;
}
#main-heading-container {
  position: absolute; 
  margin-top: 40px;
}

#banner-header {
  height: 150px;
  width: 360px;
}
#user-header {
  display: flex;
  align-items: center;
  background-color: #ffffff; 
  margin: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;  
}

#left {
	position: fixed !important;
	top: 4vh;
	left: 1vw;
}

#right {
	position: fixed !important;
	top: 3vh;
	left: 80vw;
}

#user-header img {
  margin: 0 40px;
}

#chat-input {
  width: 70%;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  margin-top: 10%;
  margin-left: 4%;
}


#message-submit {
  height: 30px;
  width: 5%;
  background-color: #FF8C4C;
  border-radius: 5px;
}
#photoGallery {
	margin: 20%;
}

@media (max-width: 450px) {
	#chat-input {
		width: 50%;
		padding: 5px;
		margin-left: 15%;
		margin-top: 15%;
	}

	#message-submit button {
		width: 10px;
  }
  #photoGallery {
    margin-top: 17%;
    }
}

#add-member-container {
  display: flex;
  justify-content: flex-end;
  margin: 15% 5% 0% 0%;
}

#add-member-sub-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#add-member-input {
  height: 30px;
  width: 230px;
}

#add-member-submit {
  height: 30px;
  width: 90px;
  background-color: #FF8C4C;
  border-radius: 5px;
}

#photoGallery {
	margin-top: 12%;
}

#footer {
  width: 100% !important;
  margin: 0px -8px 0px -8px;
  z-index: 50 !important;
}

#footer div {
  position: fixed !important;
  background-color: #AC748F !important;
  color: #FFF4BC !important;
  z-index: 50 !important;

}

.header-text {
  height: 150px;
  width: 250px;
  position: absolute;
  margin-top: 40px;
}

.header-icon {
  height: 150px;
  width: 150px;
  position: absolute;
  margin-top: 75px;
}

/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
}

#upload-photo {
  border-radius: 10%;
  background-color: #FF8C4C;
}

#team-navbar {
  display: flex;
  justify-content: space-between;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes moveSun {
  from {bottom: 10vh;}
  to {bottom: 20vh;}
}

@keyframes moveLeft {
  from {left: -10vw;}
  to {left: 3vh;}
}

@keyframes moveRight {
  from {right: -10vw;}
  to {right: 2vw;}
}


#title {
	padding: 70px 10px 0px;
}

#leftCloud {
	height: 150px;
	width: 250px;
	position: fixed;
	left: 3vw;
	z-index: -1;
	animation: moveLeft 5s ease-in; 
}

#rightCloud {
	height: 160px;
	width: 200px;
	position: fixed;
	right: 2vw;
	z-index: -1;
	animation: moveRight 5s ease-in;
}

#one {
	position: fixed;
	top: 500px;
	left: 300px;
}

#sunImg {
	width: 10vw;
	padding: 5px;
	position: fixed;
  left: 50vw;
  bottom: 20vh;
  animation: moveSun 2s ease-in;
  z-index: -2;
}

#mtns {
	width: 100vw;
	margin: -10px;
	position: fixed;
	bottom: 0px;
	z-index: -2;
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    #footer {
    position:fixed;
    bottom: 8%;
    width:100%;
    }
    #title {
    	padding: 10px;
    }
}

